# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/

# VS Code or PyCharm settings
.vscode/
.idea/

# Environment variables
.env

# Allure results and reports
allure-results/
allure-report/

# OS-specific
.DS_Store
Thumbs.db
